absl-py==0.9.0
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
dill==0.3.2
dm-tree==0.1.5
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.20.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
h5py==2.10.0
idna==2.10
importlib-resources==3.0.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.3.0
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.1.0
Pillow==7.2.0
promise==2.3
protobuf==3.15.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.4.1
seaborn==0.10.1
six==1.15.0
tb-nightly==2.4.0a20200801
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-docs @ git+https://github.com/tensorflow/docs@adae1941b3a1b3c0b781b94d96f4476892a44620
tensorflow-estimator==2.3.0
tensorflow-hub==0.8.0
tensorflow-metadata==0.22.2
termcolor==1.1.0
tf-estimator-nightly==2.4.0.dev2020080101
tf-nightly==2.4.0.dev20200801
tfds-nightly==3.2.1.dev202008010105
tqdm==4.48.0
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
